body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937 ;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 12px;
    
}

.links{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a, p{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.logo>a{
    font-size: 24px;
    color: #F9FAF8;
}


.title{
    display: flex;
    justify-content: center;
    margin: 60px;
    
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 50%);
    width: 450px;
    height: 200px;
    color: #E5E7EB;
}

.main{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: white;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8 ;
}

.left{
    padding-right: 50px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box{
    width: 200px;
    height: 200px;
    border: solid 2px #3882F6;
    border-radius: 10%;
}

.box2{
    width: 200px;
    margin-bottom: 200px;
}

.quote>p{
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
    padding:  0px 200px;
}

.quote{
    background-color: #E5E7EB;
    padding: 100px;
}

footer{
    color: #E5E7EB;
    text-align: center;
    padding: 28px;
}

.quote>h2{
    text-align: end;
    margin-right: 230px;
}

button{
    font-weight: 700;
    padding: 6px 20px;
    border-style: none;
    color: #E5E7EB;
    border-radius: 6px;
    background-color: #3882F6;
}

.card{
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 70%;
    border-radius: 10px;
}

.card>button{
    color: #3882F6;
    background-color: #E5E7EB;
    align-self: center; 
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 20px;
}
